In [2]:
import sys
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
df_gold = pd.read_csv("EDA_Gold_Silver_prices.csv")

df_gold.head()

df_gold.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 241 entries, 0 to 240
Data columns (total 3 columns):
Month          241 non-null object
SilverPrice    241 non-null float64
GoldPrice      241 non-null float64
dtypes: float64(2), object(1)
memory usage: 5.7+ KB

In [39]:
def converter(x):
    try:
        return pd.datetime.strptime(x, '%b-%y')
    except ValueError:
        year, month = x.split('-')  # split by delimiter
        x = year.zfill(2) + '-' + month  # %y requires 0-padding
        return pd.datetime.strptime(x, '%y-%b')

res = df_gold["Month"].apply(converter)


df_gold

      Month  SilverPrice  GoldPrice
0    Mar-97       186.48   12619.24
1    Apr-97       170.65   12338.59
2    May-97       170.44   12314.94
3    Jun-97       169.96   12202.78
4    Jul-97       155.80   11582.07
5    Aug-97       162.16   11640.38
6    Sep-97       172.13   11755.57
7    Oct-97       181.57   11769.89
8    Nov-97       187.99   11370.19
9    Dec-97       224.16   11324.79
10   Jan-98       230.08   11378.25
11   Feb-98       261.75   11576.23
12   Mar-98       243.81   11690.84
13   Apr-98       249.37   12225.02
14   May-98       225.54   12075.24
15   Jun-98       222.24   12349.86
16   Jul-98       232.46   12450.03
17   Aug-98       220.73   12142.73
18   Sep-98       213.74   12287.69
19   Oct-98       211.80   12531.16
20   Nov-98       211.21   12463.97
21   Dec-98       207.96   12412.18
22   Jan-99       219.44   12203.20
23   Feb-99       235.52   12203.06
24   Mar-99       220.61   12135.19
25   Apr-99       217.57   12075.25
26   May-99       226.61   11823.60
27   Jun-99       219.02   11272.20
28   Jul-99       226.31   11084.77
29   Aug-99       230.06   11155.98
..      ...          ...        ...
211  14-Oct      1052.92   74997.34
212  14-Nov       984.74   72491.16
213  14-Dec      1021.88   75291.99
214  15-Jan      1070.97   77715.80
215  15-Feb      1041.26   76113.23
216  15-Mar      1014.19   73605.25
217  15-Apr      1025.45   75236.65
218  15-May      1074.12   76484.80
219  15-Jun      1026.56   75451.46
220  15-Jul       958.06   71812.23
221  15-Aug       972.25   72746.31
222  15-Sep       976.67   74476.64
223  15-Oct      1029.04   75438.75
224  15-Nov       954.56   71759.82
225  15-Dec       938.00   71140.66
226  16-Jan       949.24   73882.06
227  16-Feb      1035.04   81857.57
228  16-Mar      1037.05   83496.73
229  16-Apr      1087.44   82572.44
230  16-May      1133.52   84340.04
231  16-Jun      1163.03   85878.28
232  16-Jul      1343.80   89845.32
233  16-Aug      1311.11   89707.71
234  16-Sep      1291.92   88540.40
235  16-Oct      1178.00   84533.34
236  16-Nov      1175.45   83622.54
237  16-Dec      1115.72   78583.48
238  17-Jan      1151.15   81191.05
239  17-Feb      1203.35   82818.17
240  17-Mar      1162.15   81169.45

[241 rows x 3 columns]